<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalprojectfile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_xplorem"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_xplorem_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProjectFile">
        <activity android:name=".RecommendationsActivity1"></activity>
        <activity android:name=".SearchActivity" />
        <activity android:name=".User_Profile_Activity" />
        <activity android:name=".Page_Johor" />
        <activity android:name=".Page_Penang" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".QuizActivity"/>
        <activity android:name=".Coupon"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>